<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div id="body">
    <div id="content">
        <%- include('../partials/_header') %>
        <% posts.forEach(function(post) { %>
            <%- include('../partials/_preview_post', {post: post}) %>
        <% }); %>
        <%- include('../partials/_footer') %>
    </div>
</div>
</body>
</html>
